* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-dark: #101010;
  --text-white: #fff;
}

body {
  background-color: var(--background-dark);
}

h1 {
  color: var(--text-white);
  margin: 30px 0;
  text-align: center;
}

.container {
  border: 1px solid #fff;
  width: 60%;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: calc(100% / 8);
  height: calc(100% / 8);
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.box-green {
  background-color: aqua;
}

.box-red {
  background-color: red;
}
